  <ul class="teasers">
                            <li class="item half-first">
                                    <article>
                                            <h1>Permits and <strong>regulations</strong></h1>
                                            <ul class="links">
                                                    <li><a href="#">List of activities</a></li>
                                                    <li><a href="#">Permits and licences</a></li>
                                                    <li><a href="#">Activities by categories</a></li>
                                            </ul>
                                            <ul class="links-support">
                                                    <li><a href="/">Tourism</a><span>/</span><a href="/">Crafts</a></li>
                                                    <li><a href="/">Construction</a><span>/</span><a href="/">All categories</a></li>
                                            </ul>	
                                    </article>
                            </li>
                            <li class="item">
                                    <article>
                                            <h1>Starting <strong>a business</strong></h1>
                                            <ul class="links">
                                                    <li><a href="#">Considering</a></li>
                                                    <li><a href="#">Business registration</a></li>
                                                    <li><a href="#">Providing services crossborder</a></li>
                                                    <li><a href="#">Other options to do business in Slovenia</a></li>
                                                    <li><a href="#">Help with setting up a business</a></li>
                                            </ul>
                                    </article>
                            </li>
                    </ul>
                    <div class="item half half-first managing">
                            <h2 class="category-title">Managing your business in Slovenia</h2>
                            <ul class="links">
                                    <li><a href="#">Running a business</a></li>
                                    <li><a href="#">Closing down</a></li>
                            </ul>
                            <div class="help">
                                    <h3>Help &amp; Support</h3>
                                    <ul class="links">
                                            <li><a href="#">Questions &amp; answers</a></li>
					<li><a href="#">Glossary</a></li>
					<li><a href="#">Need more help?</a></li>
				</ul>
				<span class="phone">080 11 22</span>
				<a class="email" href="mailto:info@eugo.gov.si">info@eugo.gov.si</a>
				<span class="arrow"> </span>
			</div>
		</div>
		<div class="item half reasons">
			<h2 class="category-title">Why Slovenia?</h2>
			<ul>
				<li>
					<h3><a href="#">Skilled and highly educated workforce</a></h3>
					<p class="entry-summary">Pellentesque sit amet ipsum vitae sapien porta scelerisque ullamcorper a massa. Fusce eu adipiscing nunc.</p>
					<a class="more" href="#">more</a>
				</li>
				<li>
					<h3><a href="#">Skilled and highly educated workforce</a></h3>
					<p class="entry-summary">Pellentesque sit amet ipsum vitae sapien porta scelerisque ullamcorper a massa. Fusce eu</p>
					<a class="more" href="#">more</a>
				</li>
				<li>
					<h3><a href="#">killed and highly educated workforce</a></h3>
					<p class="entry-summary">Pellentesque sit amet ipsum vitae sapien porta scelerisque ullamcorper a massa. Fusce eu adipiscing nunc.</p>
					<a class="more" href="#">more</a>
				</li>
			</ul>
		</div>
	</div>
   