<small class="copyrights">
	<f:CObject typoscriptObjectPath="lib.copyrightsMenu" />
    <span class="production"><f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:copyrightDesign"/>: <span class="vcard author"><a href="http://www.innovatif.com" class="url fn org" title="Page author" target="_blank">Innovatif</a></span><span class="separator">I</span><f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:copyrightDevelopment"/>: <span class="vcard author"><a href="http://www.aeris3.si" class="url fn org" title="Page author" target="_blank">Aeris3 d.o.o.</a></span></span>
</small>