<div class="inner">
	<nav class="tertiary" role="navigation">
		<f:CObject typoscriptObjectPath="lib.footerNav" />
	</nav>
	
	<div class="wrap">
		<nav>
			<f:CObject typoscriptObjectPath="lib.footerSitmapNav" /> 
		</nav>
        
		<f:render partial="Family" />
	</div>
	
	<f:render partial="Partners" />
	<f:render partial="Copyrights" />
</div>