<!-- heder -->
        <div class="inner">
            
		<f:render partial="Logo" />
                 
         
		<nav role="navigation">
                    
                    <f:CObject typoscriptObjectPath="lib.primaryNav" />
      
		</nav>
		
        <f:CObject typoscriptObjectPath="lib.sloLink" />
		<f:CObject typoscriptObjectPath="lib.widgetSearch" />
		<f:CObject typoscriptObjectPath="lib.primarySearch" />
		</div>
   <!-- end heder -->
   