<!-- heder -->
        <div class="inner">
            
		<f:render partial="Logo" />
                 
         
		<nav role="navigation">
                    
                    <f:CObject typoscriptObjectPath="lib.primaryNav" />
      
		</nav>
		
		<a href="#" class="rs">
			<f:image src="EXT:a3_ekt_template/Resources/Public/Images/rs.png" alt="Republika Slovenija" width="134" height="42" />
			Republika Slovenija
		</a>
		<f:CObject typoscriptObjectPath="lib.widgetSearch" />
	</div>
             
   <!-- end heder -->
   