<h2>Anlegen von Inhalten</h2>
<p>
	Wenn du Inhalte anlegen willst, so kannst du dies im Backend.
	Dort kannst du auf der Seite <tt>{data.uid}</tt> mit dem Titel <tt>{data.title}</tt>
	Inhalte anlegen.
</p>
<p>
	Die Randspalte zeigt keine Meldung, wenn keine Inhalte vorhanden sind.
</p>
<p>
	<center>
		<f:image src="EXT:a3_ekt_template/Resources/Public/Images/BackendScreenshot.png" alt="Example Image" width="600" height="280c"/>
	</center>
</p>
<h2>Wie gehts weiter?</h2>
<p>

	
	<ul>
		<li><f:link.external uri="typo3">Login am Backend</f:link.external></li>
		<li><f:link.external uri="http://cms.sn.schule.de">Handbuch lesen</f:link.external></li>
	</ul>
</p>
