<ul class="partners">
	<li>
		<a href="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners1url"/>" target="_blank">
			<img src="typo3conf/ext/a3_ekt_template/Resources/Public/Images/logo-evem.png" alt="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners1alt"/>" />
			<p></p>
		</a>
	</li>
	<li>
		<a href="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners2url"/>" target="_blank">
			<img src="typo3conf/ext/a3_ekt_template/Resources/Public/Images/logo-euprava.png" alt="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners2alt"/>" />
			<p></p>
		</a>
	</li>
	<li>
		<a href="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners3url"/>" target="_blank">
			<img src="typo3conf/ext/a3_ekt_template/Resources/Public/Images/logo-ifeelslovenia-2.png" alt="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners3url"/>" />
			<p></p>
		</a>
	</li>
	<li>
		<a href="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners4url"/>" target="_blank">
			<img src="typo3conf/ext/a3_ekt_template/Resources/Public/Images/logo-solvit.png" alt="<f:translate key="LLL:EXT:a3_ekt_template/Resources/Private/Language/locallang.xml:partners4url"/>" />
			<p></p>
		</a>
	</li>
</ul>