<!doctype html>

<head>
	<title>Sample FluidPage Template</title>
</head>

<!-- ###LAYOUT### -->
<body class="home-page full-width">
    <header class="header vcard" role="banner">
        <f:render partial="Header" />
	</header>
    <div class="main" role="main">
            <f:render section="Body" />
	</div>
    <footer class="footer" role="contentinfo">
        <f:render partial="Footer" />
    </footer>
</body>
<!-- ###LAYOUT### -->
</html>