{namespace fed=Tx_Fed_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="Fce" />

<f:section name="Configuration">
    <fed:comment comment="Naslovnica - Teaserji" />

    <flux:flexform id="teasers" label="Naslovnica - Teaserji">

        <flux:flexform.grid>
            <flux:flexform.grid.row>

                <flux:flexform.grid.column style="width:50%;">
                    <flux:flexform.content name="leftContent" label="Levi teaser" />
                </flux:flexform.grid.column>

                <flux:flexform.grid.column style="width:50%;">
                    <flux:flexform.content name="rightContent" label="Desni teaser" />
                </flux:flexform.grid.column>

            </flux:flexform.grid.row>
        </flux:flexform.grid>
    </flux:flexform>
</f:section>

<f:section name="Preview">
    <flux:widget.grid /> 
</f:section>

<f:section name="Main">
    <ul class="teasers">
        <flux:flexform.renderContent area="column" />
        <li class="item half-first teaserBgLeft">
            <article>
                <flux:flexform.renderContent area="leftContent" />
            </article>
        </li>
        <li class="item teaserBgRight">
            <article>
                <flux:flexform.renderContent area="rightContent" />
            </article>
        </li>
    </ul>
</f:section>
