{namespace fed=Tx_Fed_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="Fce" />
 
<f:section name="Configuration">
    <fed:comment comment="Naslovnica - Pomoč" />
    
    <flux:flexform id="help" label="Naslovnica - Pomoč">
        
        <flux:flexform.field.input name="phone" label="Telefon"/>
        <flux:flexform.field.input name="phone_en" label="Telefon EN"/>
        <flux:flexform.field.input name="mail" label="E-mail"/>
        
        <flux:flexform.grid>
            <flux:flexform.grid.row>

                <flux:flexform.grid.column>
                    <flux:flexform.content name="content" label="Vsebina" />
                </flux:flexform.grid.column>

            </flux:flexform.grid.row>
        </flux:flexform.grid>
    </flux:flexform>
</f:section>

<f:section name="Preview">
         <flux:widget.grid /> 
</f:section>

<f:section name="Main">
   <div class="help">
				<flux:flexform.renderContent area="content" />
				
				<span class="phone">{phone}</span>
                <span class="phone_en">{phone_en}</span>
				
                <f:link.email class="email" email="{mail}" />
                
				<span class="arrow"> </span>
			</div>
</f:section>
