{namespace fed=Tx_Fed_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="Fce" />
 
<f:section name="Configuration">
    <fed:comment comment="Slovar pojmov" />
    
    <flux:flexform id="teasers" label="Slovar pojmov">
        
        <flux:flexform.grid>
            <flux:flexform.grid.row>

                <flux:flexform.grid.column style="width:30%;">
                    <flux:flexform.content name="leftContent" label="Levi stolpec" />
                </flux:flexform.grid.column>
                
                <flux:flexform.grid.column style="width:70%;">
                    <flux:flexform.content name="rightContent" label="Desni stolpec" />
                </flux:flexform.grid.column>

            </flux:flexform.grid.row>
        </flux:flexform.grid>
    </flux:flexform>
</f:section>

<f:section name="Preview">
         <flux:widget.grid /> 
</f:section>

<f:section name="Main">
   
        <flux:flexform.renderContent area="column" />
			<dl class="index">
				<dt><flux:flexform.renderContent area="leftContent" /></dt>
				<dd><flux:flexform.renderContent area="rightContent" /></dd>
            </dl>
</f:section>
