{namespace fed=Tx_Fed_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="Fce" />
 
<f:section name="Configuration">
    <fed:comment comment="Desni okvir - Modri" />
    
    <flux:flexform id="rightBoxBlue" label="Desni okvir - Modri">
        
        <flux:flexform.grid>
            <flux:flexform.grid.row>

                <flux:flexform.grid.column>
                    <flux:flexform.content name="content" label="Vsebina" />
                </flux:flexform.grid.column>

            </flux:flexform.grid.row>
        </flux:flexform.grid>
    </flux:flexform>
</f:section>

<f:section name="Preview">
         <flux:widget.grid /> 
</f:section>

<f:section name="Main">
    <div class="module highlight">
        <flux:flexform.renderContent area="content" />
    </div>		
</f:section>
