ul.seznam {
	color:red;
}

ul.links-support {
	color:blue;
}

table.tabela {
	background-color:red;
}

.phone {
    color:#3077ae; font-size:40px; float:right; margin:-3px 0 3px;
}

.phone_en {
    color:#3077ae; font-size:25px; float:right; margin:-3px 0 3px;
}

li.online {}
li.pdf {}
li.external {}
li.txt {}
li.xls {}
li.ppt {}
li.doc {}
