.btn-search, form.search, .btn-submit, form.site-search, ul.links li, .module ul li, ul.teasers li.item ul li, div.help .arrow, .more, .social a, .content ul li, .documents li, .secondary a, .gallery .magnify, .ui-tooltip-content:after, .expandables .trigger, .data ul li, .additional ul li, .procedure li .left, .error, .managing ul li{background:url(../Images/sprite.png) no-repeat;}

header:after, .main:after, footer:after, header .inner:after, .teasers li.item:after, .main .inner:after, ul.teasers:after, div.help:after, .footer .wrap:after, .expandables .data:after, .module:after, aside dl:after, .content .procedure:after {height:0;content:".";display:block;clear:both;visibility:hidden;}


@font-face {
    font-family: 'GothamOTLight';
    src: url('../Font/gothamot_light-webfont.eot');}
@font-face {
    font-family: 'GothamOTLight';
    src: url(//:) format('no404'), url('../Font/gothamot_light-webfont.woff') format('woff'), url('../Font/gothamot_light-webfont.ttf') format('truetype'), url('../Font/gothamot_light-webfont.svg#GothamOTLight') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'GothamOTBook';
    src: url('../Font/gothamot_book-webfont.eot');}
@font-face {
    font-family: 'GothamOTBook';
    src: url(//:) format('no404'), url('../Font/gothamot_book-webfont.woff') format('woff'), url('../Font/gothamot_book-webfont.ttf') format('truetype'), url('../Font/gothamot_book-webfont.svg#GothamOTBook') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'GothamOTMedium';
    src: url('../Font/gothamot_medium-webfont.eot');}
@font-face {
    font-family: 'GothamOTMedium';
    src: url(//:) format('no404'), url('../Font/gothamot_medium-webfont.woff') format('woff'), url('../Font/gothamot_medium-webfont.ttf') format('truetype'), url('../Font/gothamot_medium-webfont.svg#GothamOTMedium') format('svg');
    font-weight: normal;
    font-style: normal;}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;border:0;padding:0;
font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe {display:block;}

html {overflow-y:scroll; height:100%;}
body {min-width:960px;height:100%;font-family:Arial, Helvetica, sans-serif; font-size:14px; background:#333; color:#333;}

.path>span,.sort p>span {font-family:arial,sans-serif;}

.content-container p {margin:0;font-size:13px; line-height:18px;}
.content p, .category-list li.item p, .expandables .data p, .data ul li, .additional ul li, dl.index dd {font-size:14px; line-height:22px;}
.content p{margin:0 0 18px;}
ul,ol,menu {list-style:none;}
dt{font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
b,strong{font-weight:bold;}
i,em {font-style:italic;}
sup,sub {font-size:75%;line-height:0;position:relative;}
sup {top:-.6em;}
sub {bottom:-.25em;}
address {font-style:normal;}
small {font-size:11px;}
label,input[type='submit'] {cursor:pointer}
input,textarea {font-family:helvetica,arial,sans-serif;}
img {display:block;}
.hr {margin:12px 0 14px;height:2px;width:100%; display:block; background:url(../Images/double-border-light.png) repeat-x 0 bottom;}
li.item_dark .hr {margin:12px 0 14px;height:2px;width:100%; display:block; background:url(../Images/double-border-light.png) repeat-x 0 bottom;}
.hr hr{display:none;}
hr {border-bottom: 2px solid white; height:1px; clear:both; border-top:0px; border-left:0px;}
.hidden {display:none;visibility:hidden;}

h1, h2, h3, h4, h5{font-family:"GothamOTMedium"; font-weight:normal; margin-left:-1px;}
h1{font-size:32px; margin-bottom:25px;}
h3{font-size:16px; margin-bottom:15px;}
h2, aside h3, .additional h3{font-size:20px; margin-bottom:16px;}

.content h2{padding-top:25px;}
.content h2:first-child{padding-top:0;}
p.entry-summary + h2{padding-top:0;}
p + h3{padding-top:15px;}
p + h4{padding-top:10px;}

a {color:#3077ae; text-decoration:none;}
a:hover {text-decoration:underline;}


header{background:url(../Images/header.jpg) center 0; font-size:14px; color:#fff;
-moz-box-shadow:0 -6px 30px -16px rgba(0,0,0,0.6) inset;
-webkit-box-shadow:0 -6px 30px -16px rgba(0,0,0,0.6) inset;
box-shadow:0 -6px 30px -16px rgba(0,0,0,0.6) inset;
}
.main{background:#eeede4;}
.inner{width:960px; margin:0 auto; position:relative;}
header .inner{padding:20px 0 108px;}
.main .inner{padding:45px 0 50px;}

header #brand{width:410px; height:100px; overflow:hidden; float:left; margin-bottom:10px; /*background-image:url(../Images/logo-beta.png);*/}
header #brand a{width:410px; height:100px; display:block;}
header .logo-print{display:none;}
.home-page header #brand{margin-bottom:80px; cursor: pointer;}
header .rs {width:134px; height:42px; overflow:hidden; float:right;}
header a{color:#58b6de; text-decoration:underline;}
header a:hover{color:#63cbf7;}

input.submit{font-size:0;line-height:0; color:transparent;}
form.site-search{width:252px; height:34px; float:right; clear:right; margin-top:20px; text-align:right;}
form.site-search label{display:none;}
form.site-search .text{background:none; border:none; width:190px; padding:9px 13px 8px; color:#fff; font-size:14px; float:left; margin-bottom:3px;}
form.site-search .submit{float:left; width:35px; height:35px; background:none; margin-bottom:3px;}

form.search{background-position:-344px -4px; width:850px; float:left; padding:22px 55px 22px;}
form.search label{float:left; padding-top:15px; color:#19426e; font-size:17px; font-family:"GothamOTMedium";}
form.search .text{float:left; margin:0 7px 0 15px; width:502px; height:40px; padding:4px 25px; font-size:20px; background:#216095; color:#fff; border-radius:4px; font-family:"GothamOTBook"; vertical-align:bottom; line-height:38px; border:none;
-moz-box-shadow:1px 1px rgba(255,255,255,0.22), 1px 1px 1px rgba(0,0,0,0.35) inset;
-webkit-box-shadow:1px 1px rgba(255,255,255,0.22), 1px 1px 1px rgba(0,0,0,0.35) inset;
box-shadow:1px 1px rgba(255,255,255,0.22), 1px 1px 1px rgba(0,0,0,0.35) inset;
}
.no-rgba form.search .text{border:1px solid #153c5d; border-right-color:#5a9dce; border-bottom-color:#5a9dce;}
form.search .advanced{padding:16px 0 0 20px; display:block; float:left; white-space:nowrap;}

form.content-search{width:500px; float:left; width:890px; padding:0; margin-bottom:40px; background-image:none; background-color:#E8E7DD; padding:20px 35px;}
form.content-search .text{margin-left:0; margin-top:1px; background-color:#b5b3a4; width:620px;}
.no-rgba form.content-search .text{border:none;}
form.content-search .advanced{text-decoration:underline;}
form.content-search .btn-submit{-moz-box-shadow:1px 1px 0 rgba(255,255,255,0.6); -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.6); box-shadow:1px 1px 0 rgba(255,255,255,0.6); border:1px solid #9a9887;}

form.narrow-search{background:none; padding:0;}
form.narrow-search .text{margin-left:0; margin-top:1px; width:340px; background-color:#b5b3a4;}

.btn-submit{background-position:-261px 0; display:block; width:69px; height:48px; float:left; border:1px solid #075798; margin-top:1px; border-radius:4px;
-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.22);
-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.22);
box-shadow:1px 1px 1px rgba(0,0,0,0.22);
}
.btn-submit:hover{background-position:-261px -48px;}
input.submit{border:0;}

.primary {position:absolute; left:0; bottom:0; background:rgba(27,85,136,0.22); border-radius:4px 4px 0 0;}
.no-rgba .primary {background:url(../Images/menu-dark.png);}
.primary li {float:left; margin-right:1px;}
.primary li a{float:left; padding:16px 33px; border-radius:4px 4px 0 0; font-family:"GothamOTBook"; text-decoration:none; color:#fff; font-size:16px; -moz-transition:0.2s; -webkit-transition:0.2s; transition:0.2s;}
.primary li a:hover{background:rgba(255,255,255,0.17);}
.no-rgba .primary li a:hover{background:url(../Images/menu-light.png);}
.primary li.selected a, .primary li.selected a:hover{background:#eeede4; color:#000;}

.secondary {margin-bottom:10px;}
.secondary a{font-size:16px; font-family:"GothamOTBook"; padding:12px 15px 12px 40px; display:block; background-position:-1262px -129px;}
.secondary li{/*background-image:url(../Images/double-border-light.png);*/ background-repeat:repeat-x; background-position:0 bottom; margin-top:-2px;}
.secondary li.last{background-image:none;}
.secondary li:hover a { text-decoration:none; background-color:#fff;}
.secondary li.selected {position:relative; z-index:2;}
.secondary li.selected a{background-color:#3077ae; border-radius:2px; color:#fff; background-position:-1232px -161px;}
.secondary {background-image:url(../Images/double-border-light.png); background-position: 0 bottom; background-repeat:repeat-x;}

article ul.links li, .managing ul li, ul.teasers li.item ul li, .module ul li, ul.seznam li{padding-left:23px; font-size:14px; margin-bottom:8px; background-position:-1223px -200px; line-height:18px;}
ul.links li.no-link, ul.seznam li.no-link{background-position: -1000px -498px !important;}
li.external{background-position:-1185px -254px !important; padding-left:23px !important;}
ul.links a, ul.teasers li.item ul li a, div.managing ul li a, .module ul li a, ul.seznam a{color:#333;}
ul.links p.link-desc, ul.seznam p.link-desc {font-size:13px;}
.content-container ul.links a, .content-container ul.seznam a{color:#3077AE;}
/*.content ul.links, .additional ul.links, .content ul, .content ul.seznam, .additional ul.seznam {margin-left:18px;}*/
.content ul.expandables, aside ul.steps {margin-left:0px;}
aside ul.steps li {padding-left:0px; cursor: pointer;}
.content ul li, .data ul li, .additional ul li{background-position:-1306px -110px; padding-left:20px; margin-bottom:6px;}
.tx-a3-ekt article ul li {display:table;}
.content ol li{list-style-type:decimal; margin-left:25px; padding-left:5px;}
.content .procedure li{float:left; width:100%;}
.procedure li .left, .procedure li .right{width:35%; padding-right:15%; float:left;}
.procedure li .left{background-position:-184px -120px;}
.procedure li .right{padding-right:0; width:50%;}

.teasers li.item{float:left; width:410px; padding:30px 30px 20px; background:#fff; border-radius:2px; position:relative; height:145px; margin-left:20px; margin-bottom:40px;
-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1);
-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1);
box-shadow:1px 1px 1px rgba(0,0,0,0.1);
}
.teasers li.item h1{float:left; width:180px; font-size:32px; font-family:"GothamOTLight"; margin-top:-4px;}
.teasers li.item h1 strong, .teasers li.item h1 b{font-family:"GothamOTMedium"; white-space:nowrap; font-weight:normal;}
.teasers li.item ul{float:right; width:220px;}
.teasers li.half-first ul{width:190px;}
.teasers li.half-first h1{width:210px;}

.teasers li.half-first ul.links-support{position:absolute; right:30px; bottom:20px; font-size:12px;}
.teasers li.half-first ul.links-support li{margin-top:0px; margin-bottom:0px; background-image:none; font-size:12px; width:100%; color:#3077AE;}
.teasers li.half-first ul.links-support span{padding:0 6px; color:#3077AE;}
.teasers li.half-first ul.links-support li a {color:#3077AE;}

.half, .full-width .half {width:295px; margin-left:20px; float:left;}
.half-first, .full-width .half-first{margin-left:0 !important;}
.full-width .half, .fullWidth .half{width:470px;}

h2.category-title, .home-page .managing h2, .home-page .reasons h2{font-family:"GothamOTMedium"; font-size:20px; padding-bottom:10px; border-bottom:2px solid #fff; margin-bottom:18px;}
.home-page h2.category-title, .home-page .managing h2, .home-page .reasons h2{font-family:"GothamOTBook"; font-size:22px; background:url(../Images/double-border-light.png) repeat-x 0 bottom; border:none;}


.managing .links{margin-bottom:25px;}
div.help{border:3px solid #fff; border-radius:2px; padding:20px 30px 20px 25px; position:relative; display:inline-block; width:405px; margin-top: 20px;}
div.help .arrow{position:absolute; right:30px; bottom:-18px; width:33px; height:18px; background-position:-217px -40px;}
div.help ul{margin-bottom:0; float:left;}
div.help h3{font-size:24px; margin-bottom:26px;}
.phone{color:#3077ae !important; font-size:40px !important; font-family:"GothamOTMedium"; float:right !important; margin-top:0px !important; margin-bottom:0px !important;}
.phone_en{color:#3077ae !important; font-size:25px !important; font-family:"GothamOTMedium"; float:right !important; margin-top:0px !important; margin-bottom:0px !important;}
aside .phone{margin-top:10px !important; margin-bottom:15px !important;}
div.help .email{float:right; clear:right;}
div.help p {line-height:16px;}

.reasons li{width:136px; float:left; padding:0 10px; font-size:12px;}
.reasons li h3{font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:27px; font-size:13px; line-height:18px;}
.reasons li p{font-size:12px; line-height:17px; color:#666; margin-bottom:0; font-weight:normal;}

.more, ul.multicolumn p a:last-child {background:url(../Images/sprite.png) no-repeat; background-position:-1205px -227px; display:block; line-height:12px; padding:0 0 2px 21px; margin-top:22px; font-size:12px;}
.content .more{margin-left:18px; margin-bottom:15px;}
.sektorMore {/*margin-left:0px !important;*/}
.data .more{margin:-5px 0 12px;}
.fullWidth .multicolumn {margin-left:0px !important; width:1007px;}
.fullWidth .multicolumn ul {margin-left:0px !important;}
.fullWidth .multicolumn li {float:left; width:46%; background-position: -5223px 0px !important; padding-left:0px !important; padding-right:35px;}
.fullWidth .multicolumn li ul li {background-position: -1223px -200px !important; padding-left:20px !important;}

ul.multicolumn li a.more2 {background:url(../Images/sprite.png) no-repeat; background-position:-1205px -227px; display:block; line-height:12px; padding:0 0 2px 21px; margin-top:22px; font-size:12px;}


.breadcrumbs{font-size:12px; margin-bottom:30px; position:absolute; left:0; top:0; width:100%; padding:12px 0; background:url(../Images/double-border-light.png) repeat-x 0 bottom;}
.breadcrumbs span {font-size:14px; padding:0 5px 0 9px;}

.categories h2{margin-bottom:10px;}
.categories li{display:inline;}
.categories{margin-bottom:30px;}
.categories span{padding:0 7px 0 11px;}

.content-container{padding:30px 0 30px; width:630px; float:left;}
.fullWidth{width:960px;}
.full-width .content-container{width:100%;}
article .entry-summary{}

aside{width:310px; float:right; padding-top:91px;}
.module{padding:22px 26px; margin-bottom:20px;}
.module, .indented, .dk_toggle{background-color:#e8e7dd; border-radius:2px;
-moz-box-shadow:1px 1px 1px rgba(255,255,255,0.6), 1px 1px 1px rgba(0,0,0,0.15) inset;
-webkit-box-shadow:1px 1px 1px rgba(255,255,255,0.6), 1px 1px 1px rgba(0,0,0,0.15) inset;
box-shadow:1px 1px 1px rgba(255,255,255,0.6), 1px 1px 1px rgba(0,0,0,0.15) inset;
}
.highlight{background-color:#3077ae; color:#fff;}
.highlight p{line-height:18px;}
.highlight h3{color:#fff; background-image:none; padding-bottom:0;}
.highlight a {color:#fff;}
aside dl{line-height:20px; display:block; width:100%;}
aside dl dt, aside dl dd{width:48%; padding-right:2%; float:left;}
aside dl dd{}
aside dl.calculation{line-height:26px;}
aside dl.calculation dt{font-weight:normal;}
aside dl.calculation dd{text-align:right;}
aside dl.calculation .total{border-top:1px solid #666; padding-top:5px; font-weight:bold;}
aside .steps{padding-top:10px;}
aside .steps li{float:left; padding-bottom:30px; /*background-position:-862px -102px;*/ background-image:url(../Images/arrow.png); background-position: bottom center !important; width:100%; text-align:center;}
aside .steps li.last{background-image:none; padding-bottom:10px;}

aside h3{background:url(../Images/double-border-light.png) repeat-x 0 bottom; padding-bottom:10px;}
aside h4 {font-size:16px; margin-bottom:12px;}

aside div.help{width:251px;}
aside div.help .phone, aside div.help .email {float:left; width:100%; clear:both;}
aside div.help h3{font-size:20px; background:none; padding-bottom:0; margin-bottom:12px;}
aside div.help p{font-size:12px; color:#666; margin-bottom:12px;}
aside .item {margin-bottom:30px;}
aside .item:last-child {margin-bottom:0;}

aside .general{padding-bottom:7px;}
aside .general h5{font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; margin-bottom:20px; line-height:18px;}
aside .general ul {margin-bottom:25px;}
aside .general ul:last-child{margin-bottom:20px;}
aside .general p{font-size:12px; line-height:19px; margin-bottom:12px;}

.additional{padding:15px 0; border:solid #fff; border-width:2px 0; margin:35px 0;}

.content{padding-right:20px;}
.content ul, .content ol{margin-bottom:20px; line-height:20px;}
div#tx-solr-search ol{overflow:visible;}
p.entry-summary, p.bodytext{font-size: 14px; /*font-weight:bold;*/ /*margin-bottom:30px;*/ padding-right:20px; line-height:22px;}
img.editorial{margin-bottom:25px; border-radius:2px;}

.documents li{padding-left:29px !important; line-height:22px; margin-bottom:6px; font-size:12px; color:#666;}
.documents li a{color:#666;}
.documents li {background-position:-1044px -434px !important;}
.doc{background-position:-1161px -286px !important;}
.pdf{background-position:-1139px -315px !important;}
.ppt{background-position:-1116px -345px !important;}
.txt{background-position:-1161px -286px !important;}
.xls{background-position:-1070px -402px !important;}
.online{background-position:-1020px -466px !important;}

.gallery{float:left; position:relative; width:215px; padding:5px; margin-right:22px; margin-bottom:10px; background:#fff; border-radius:3px; position:relative; margin-left:0px !important; }
.gallery li a{position:relative; float:left;}
.gallery li{display:none !important; padding-left:0px !important;}
.gallery li a:hover{text-decoration:none;}
.gallery li.first{display:block !important;}
.gallery .magnify{width:28px; height:28px; position:absolute; right:0; top:0; background-position:-154px -78px; background-color:#fff; display:block; z-index:2; clear:both;}
.gallery img{position:relative; margin-bottom:5px; float:left;}
.gallery figcaption{width:100%; position:relative; padding:5px 3px; color:#000; font-size:11px; color:#444; float:left;}
.gallery figcaption .count{position:absolute; right:6px; top:5px;}

.segments li{float:left; width:100%; margin-bottom:30px;}
.segments img{float:left; border:5px #fff solid; border-radius:2px;}
.segments .data{float:right; width:185px;}
.segments  h3{margin-bottom:10px;}
.segments .data p{font-size:13px;}

.category-list li.item{margin-bottom:30px; float:left; width:100%;}
.category-list li.item-first{margin-bottom:40px;}

.info-box{background-color:#fff; border-radius:2px; margin-bottom:30px; width:100%;}
.info-box p{padding:15px 20px; font-size:15px; font-family:"GothamOTMedium";}

form .checkbox{float:left;}
.drowpdown-container label{display:none;}
aside form label{float:right; padding-top:2px; width:228px;}
form .row{width:100%; margin-bottom:5px; float:left;}

.expandables {margin-bottom:30px; clear:both;}
.expandables-complex li.item{background:#fff; padding:12px; padding-bottom:0px; border-radius:2px; margin-bottom:10px;}
.expandables-complex li.item_dark{background:#E3E3D7; padding:12px; padding-bottom:1px; border-radius:2px; margin-bottom:10px;}
.expandables li.item{margin-bottom:10px; width:608px;}
div#tx-solr-search .expandables li.item{margin-bottom:10px; width:287px;}
.expandables li.item_dark{margin-bottom:10px; width: 608px;}
.expandables .trigger{background-position:-964px -534px; padding:1px 0 2px 30px; display:block; line-height:20px; margin-bottom:15px;}
.expandables-complex .trigger{background-position:-875px -645px;}
.expandables-simple .trigger{font-size:15px;}
.expandables .trigger span{color:#333;}
.expandables .open{background-position:-935px -570px;}
.expandables-simple .data{margin-left:20px; padding:6px 0 0 9px;}
.expandables-complex .data{margin-left:10px; padding:25px 0 0 9px;}
.expandables .data ul {margin-left:0;}
.expandables .data-container{margin-left:10px;}
.expandables .data-connected{border-left:2px solid #3077ae; padding:7px 0;}
.expandables .data-connected .data{}
.expandables .divider{font-weight:bold; display:block; padding:6px 0 12px 3px; color:#3077ab;}
.expandables .divider-container .divider{text-align:center; font-size:19px; padding-top:2px;}

.expandables .data p{margin-bottom:14px;}
.expandables .data ul{margin-bottom:30px;}
.btn{border-radius:2px; background-color:#3077ae; color:#fff; text-decoration:none !important; padding:7px 15px; display:inline-block; clear:both; margin-bottom:15px;}
.btn:hover{background-color:#3685c2;}

aside .btn{background-color:#fff; color:#333; margin-top:15px; margin-bottom:0;}
aside .btn:hover{background-color:#edf6fd;}

dl.index dt{font-size:16px; font-family:"GothamOTMedium";}
dl.index dt, dl.index dd{padding:14px 0; float:left; border-top:2px solid #fff;}
dl.index dt {width:140px;}
dl.index dd:after{width:140px; background:#fff; height:2px;left:-142px; bottom:-2px; position:absolute; content:'';}
dl.index dd {width:440px; border:solid #fff; border-width:2px 0 2px 2px; padding-left:20px; margin-bottom:10px; position:relative;}

.sitemap .row{margin-bottom:60px;}
.sitemap ul{float:left; width:100%;}
.sitemap .item {width:225px;float:left; margin-left:20px;}
.sitemap .item-first {margin-left:0;}
.sitemap .level-1{ border-bottom:1px solid #bbb;}
.sitemap li {font-size:14px; line-height:18px; width:100%; float:left;}
.sitemap a.title{border-bottom:2px solid #fff; widh:100%; display:block; color:#3077ae !important; font-size:20px; font-family:"GothamOTMedium";}
.sitemap li a{padding:7px 0; display:inline-block;}
.csc-sitemap .arrow{font-size:14px; line-height:10px; padding-right:5px;}
.sitemap li li {font-size:13px}
.sitemap li li li a {padding-left:20px;display:block;float:left;}
.sitemap a{color:#333 !important;}

.paging {margin:0 auto;line-height:12px;text-align:center;}
.paging .selected {font-weight:bold;}
.paging>li {font-size:14px;background:none;display:inline;position:relative;}
.paging a {padding:0 7px 0 8px;color:#333;position:relative;}
.paging a:before {content:'I';font-weight:normal;color:#444;position:absolute;left:-3px;}
.paging .prev>a,.paging .next>a,.paging .selected a {color:#3077ae;}
.paging .prev>a,.paging .next>a {padding:0 5px 2px;text-decoration:underline;}
.paging .first a:before,.paging .prev>a:before,.paging .next>a:before {content:'';}
.paging .prev>a:hover,.paging .next>a:hover {text-decoration:none;}
.paging li {background-image:none !important; padding-left:0px !important;}

.content-container .lead {margin:0 0 40px;font-size:14px;line-height:22px;}
.newsletter {border:2px solid #fff;border-width:2px 0;padding:25px 0;}
.newsletter .item {margin:0 0 29px;}
.newsletter .error {margin:0 0 0 128px;padding:12px 0 0 29px;color:#d03939;background-position:-904px -599px;clear:both;}
.newsletter .text label,.newsletter .item h3 {margin:0 10px 15px 0;width:118px;font-family:"GothamOTMedium";font-size:16px;margin-left:-1px;float:left;}
.newsletter .text input {border:1px solid #bebdb5;border-color:#bebdb5 #fff #fff #bebdb5;border-radius:3px;padding:9px 10px 7px;width:230px;font-size:14px;background:#e8e7dd;float:left;box-shadow:inset 0 0 1px rgba(0,0,0,.2),1px 0 1px rgba(255,255,255,.5);}
.newsletter .submit {margin:-11px 0 0;}
.newsletter .checkboxes {float:left;}
.newsletter .checkboxes input {margin:2px 0 0;padding:0;width:13px;height:13px;float:left;}
.newsletter .checkboxes label {margin:0 0 2px 10px;font-size:14px;width:200px;float:left;}
.newsletter .btn {margin:0 0 0 128px;border:none;font-size:14px;}

.ui-tooltip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none; /*left:400px;top:400px;display:block;*/ width:240px;min-width:50px;font-size:10.5px;line-height:12px;}
.ui-tooltip-fluid{display:block;visibility:hidden;position:static!important;float:left!important;}
.ui-tooltip-content{position:relative;padding:15px 20px;overflow:visible;border:none;text-align:left;word-wrap:break-word;background:#fff; color:#444; line-height:16px; border-radius:4px;
-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1);
-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1);
box-shadow:1px 1px 1px rgba(0,0,0,0.1);
}
.ui-tooltip-content:after {background-position:-201px -39px; bottom:-14px; content:""; height:14px; left:40px; position:absolute; width:14px;}

.footer{background:#333; color:#787878; font-size:12px; padding-top:23px;
box-shadow:0 8px 10px -6px #111 inset;
-moz-box-shadow:0 8px 10px -6px #111 inset;
-webkit-shadow:0 8px 10px -6px #111 inset;
}
.footer a{color:#787878;}
.footer .social{float:right;}
.footer .social a{width:24px; height:24px; float:left; margin-left:4px; margin-top:-5px;}
.footer .social span{float:left; display:block; margin-right:4px;}
.footer .social .facebook{background-position:0 -36px;}
.footer .social .facebook:hover{background-position:0 -60px;}
.footer .social .twitter{background-position:-24px -36px;}
.footer .social .twitter:hover{background-position:-24px -60px;}

.tertiary{float:left;}
.tertiary li{float:left;}

.footer .wrap{padding:35px; background:#2c2c2c; float:left; margin:17px 0 0; width:890px; border-radius:2px;
-moz-box-shadow:0 1px 1px rgba(255,255,255,0.07), 0 1px 2px rgba(0,0,0,0.3) inset;
-webkit-box-shadow:0 1px 1px rgba(255,255,255,0.07), 0 1px 2px rgba(0,0,0,0.3) inset;
box-shadow:0 1px 1px rgba(255,255,255,0.07), 0 1px 2px rgba(0,0,0,0.3) inset;
}
.footer nav {width:690px; float:left;}
.footer nav .section{float:left;}
.footer nav .section ul{width:140px; margin-right:30px;}
.footer nav .section ul li{padding:6px 0 4px; background:url(../Images/double-border.png) repeat-x 0 top;}
.footer nav .section ul li a{color:#ababab;}
.footer nav .section ul li.first{background:none;}
.footer nav h4 {margin-bottom:10px; font-family:"GothamOTBook";}
.footer nav h4 a{color:#58b6de; font-size:17px;}
.footer .family {float:right; width:200px; margin-top:3px;}
.footer .family li{margin-bottom:15px; float:left;}
.footer .family .extra {margin-bottom:0;}
.footer .family li.extra img{margin:3px 0 0 -27px;}
.footer .family img{margin-right:10px; float:left;}
.footer .family span{float:left; display:block; width:110px;}
.footer .partners{float:left; margin:32px 0 35px;}
.footer .partners li{float:left; width:178px; padding:0 31px; text-align:center;}
.footer .partners a:hover{text-decoration:none;}
.footer .partners li img{display:inline;}
.footer .partners li p{margin-top:15px;}

.copyrights{float:left; width:100%; padding:10px 0 20px; background:url(../Images/double-border.png) repeat-x 0 0;}
.footer .production{float:right;}
.footer em{float:left; font-style:normal;}
.footer .separator {padding:0 11px; display:inline-block; font-family:Arial, Helvetica, sans-serif; color:#555;}

.not-found {background:url(../Images/404-bgr.png);}
.not-found .main p {text-align:center;}
body.not-found {background:url(../Images/404.jpg) top center no-repeat; background-color:#135385;}
.not-found .header {background:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
#bgr {margin:0 auto;position:fixed;z-index:-1;}
.not-found .main {margin:400px auto 20px;width:520px;background:none;color:#fff;}
.not-found p {font-size:18px;line-height:30px;}
.not-found p a {color:#45a3e4;}

/* autocomplete */
.ac_results {margin-top:-3px;border-left:1px solid #184975;border-right:1px solid #497aaa;padding:0 12px 12px;color:#fff;background:#216095;overflow:hidden;border-bottom-left-radius:4px;border-bottom-right-radius:4px;position:relative;}
.ac_results:before {content:'';border-left:1px solid #1d578c;position:absolute;top:0;bottom:0;left:0;}
.ac_results li {padding:9px 10px 8px;font-size:20px;overflow:hidden;cursor:default;}
.ac_results strong {color:#6393b8;font-weight:normal;}
.ac_results .cat {font-size:12px;color:#58b6de;}
.ac_results .cat span {padding:0 5px;}
.ac_over {background:#114a78;}

.suggest .ac_results {border-left:1px solid #868478;border-right:1px solid #edece3;color:#fff;background:#b5b3a2;}
.suggest .ac_results:before {border-left:1px solid #a6a494;}
.suggest .ac_results strong {color:#e8e7dc;}
.suggest .ac_results .cat {color:#555;}
.suggest .ac_over {background:#989687;}



@media print {
* {color:black !important;text-shadow:none !important;background:transparent !important;filter:none !important;
-ms-filter:none !important;box-shadow:none !important;-moz-box-shadow:none !important;-webkit-box-shadow:none !important; font-family:Arial, Helvetica, sans-serif !important;}
.footer, .primary, .header .logo, .header .site-search, .header .rs, aside, .breadcrumbs{display:none;}
header{height:70px;}
header .logo-print{display:block;}
header #brand{height:50px;}
a,a:visited {color:#444 !important;text-decoration:underline;}
thead {display:table-header-group;}
tr,img {page-break-inside:avoid;}
}

.module p.bodytext {
    font-weight:normal;
}

/*.subpage .content-container {
    width:960px;
}*/

ul.dejavnostList li.item {
    background-image:none !important;
    padding-left:0px;
    margin-bottom:0px;
}

ul.dejavnostList, ul.dejavnostList li.item ul.links {
    margin-left:0px;
}

div.articleWrap {
    width:620px;
    float:left;
}

aside.asideWrap {
    padding-top: 60px;
}

ul.dk_options_inner {
    margin-left:0px;
}

ul.dk_options_inner li.dk_option_current, ul.dk_options_inner li {
    padding-left:0px;
    margin-bottom:0px;
    line-height: none;
    background-image:none !important;
}

ul.dk_options_inner li a {
    color:#fff;
}

div.module ul.checkboxes li, div.module ul.radios li {
    padding-left:0px !important;
    background-image:none !important;
}

div.module ul.checkboxes, div.module ul.radios {
    margin-left:0px;
    background-image:none !important;
}

div.module ul.sorodnePovezave {
    margin-left:0px;
}

.clear {
    clear:both;
}

ul.priloge li a {
    background-image: none !important;
    padding-left:0px !important;
    margin-bottom:0px !important;
}

/*plugins*/
div.tx-irfaq-pi1 ul {
    margin-left:0px;
}

div.tx-irfaq-pi1 ul li {
    padding-left:0px;
}

div.tx-irfaq-pi1 ul li a, div.tx-irfaq-pi1 ul li a:hover{
    color:#3077AE;
}

div.tx-irfaq-pi1 ul li a p {
    font-weight:normal !important;
}

select.noDropkick {
	visibility: visible !important;
	top: 0 !important;
}

a.noLink, a.noLink:hover {
    text-decoration:none;
    color:#000;
}

div.csc-textpic-image ul.gallery {
    padding-left:5px;
}

.tx-a3-ekt ul.expandables-complex li.divider-container {
    background-image:none;
    padding-left: 0px;
}

/*felogin*/

form.loginForm {
    background-image:url(../Images/bg_loginFrame.png);
    width:470px;
    height:265px;
}

form.loginForm2 {
    background-image:url(../Images/bg_loginFrame2.png);
    width:470px;
    height:350px;
}

form.loginForm h1, form.loginForm2 h1 {
    text-align:center; 
    color:#19426e;
    margin-bottom: 15px;
    padding-top: 10px;
}

form.loginForm input#user, form.loginForm input#pass,form.loginForm input#pass-text, form.loginForm2 input#pass-text, form.loginForm2 input#pass2, form.loginForm2 input#pass-text2, form.loginForm2 input#user, form.loginForm2 input#pass {
    background-image:url(../Images/bg_input.png);
    width:251px;
    height:52px;
    border:0px;
    background-color: transparent;
    color:#fff;
    font-size:20px;
    outline: none;
    padding-left:15px;
    margin-left:103px;
    margin-bottom:10px;
}

form.loginForm input#loginButton, form.loginForm2 input#loginButton {
    background-image:url(../Images/btn_register.png);
    width:203px;
    height:50px;
    text-align:center;
    border:0px;
    background-color:transparent;
    background-repeat: no-repeat;
    font-size:22px;
    color:#1c517c;
    margin-left:138px;
}

form.loginForm input#loginButton:hover, form.loginForm2 input#loginButton:hover {
    background-image:url(../Images/btn_login.png);
}

.tx-srfeuserregister-pi1 dt {
    width:auto;
}

.tx-srfeuserregister-pi1 form.loginForm input#user, .tx-srfeuserregister-pi1 form.loginForm input#pass, .tx-srfeuserregister-pi1 form.loginForm input#pass-text,  .tx-srfeuserregister-pi1 form.loginForm2 input#pass2, .tx-srfeuserregister-pi1 form.loginForm2 input#pass-text2, .tx-srfeuserregister-pi1 form.loginForm2 input#user, .tx-srfeuserregister-pi1 form.loginForm2 input#pass-text {
    padding-left:6px;
}

.tx-srfeuserregister-pi1 form.loginForm2 input#pass {
    padding-left:6px;
}

.tx-srfeuserregister-pi1-error {
    padding:0px !important;
    margin:0px !important;
    color:#fff !important;
    font-size:18px !important;
    padding-bottom:10px !important;
}

/*.tx-felogin-pi1 input#user {
    display:none;
}*/

ul.twoColumns {
    margin-left:0px !important;
}

ul.twoColumns .csc-textpic-text {
    margin-left:0px;
}

ul.twoColumns li {
    float:left;
    width:305px;
    background-image:none !important;
    padding-left:0px !important;
}

ul.twoColumns p {
    font-size:13px;
    line-height: 18px;
}

ul.twoColumns img {
    border: 5px white solid !important;
}

ul.twoColumns h3 {
    margin-bottom: 7px;
}

div.csc-sitemap {width:980px;}
div.csc-sitemap ul {margin-left:0px; margin-bottom:0px;}
div.csc-sitemap ul li {float:left; font-size:20px; margin-bottom:0px; width:225px; padding-left:0px; padding-right:20px; background-image:none; font-weight:bold;}
div.csc-sitemap ul li ul {}
div.csc-sitemap ul li a {border-bottom: 2px solid white; display:block; padding:7px 0px;}
div.csc-sitemap ul li ul li ul {margin-left:20px;}
div.csc-sitemap ul li ul li {border-bottom: 1px solid #BBB; font-size:13px; color:#000; float:none; width:100%; font-weight:normal;}
div.csc-sitemap ul li ul li a {border:0px; color:#333;}
div.csc-sitemap ul li ul li ul li {border:0px;}
div.csc-sitemap ul li ul li ul li ul {display:none;}

div.solr_results { position: absolute; top:145px; right:0px; width:310px; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #B5B3A4 !important; background: #B5B3A4 !important; font-weight: bold; color: #000000 !important; }

aside nav ul.subNav li.last { margin-bottom: 20px; }

div.last-change-hr { padding-top: 20px;}
div.last-change { padding-top: 10px; color:#676664; font-size:11px; }

h2.padding_top_header { padding-top: 25px !important; }

.content .tx-a3-ekt .half > ul.category-list li.item { padding-left: 0px; background: none; }
.content .tx-a3-ekt .half > ul.category-list li.item > a.more { margin-left: 0px; }

ul.toggleList {
    overflow:hidden;
    height:128px;
}

a.toggleList {
    background-position: 0px -778px;
}

a.toggleListOpen {
    display:none;
    background-position: 0px -800px;
}

div.emptyDivider {
    width:100%; 
    clear:both;
}

article table {
    width:100%;
    border-collapse:separate;
    border-spacing:0px;   
}

article table caption {
    text-align: left;
    color:#3277ae;
    padding:13px;
    font-weight: bold;
}

article table th {
    text-align:left;
    background-color:#fff;
    color:#3277ae;
    padding:13px;
    font-weight: bold;
}

article table td {
    padding:13px;
}

article table tr.even {
    background-color:#e3e3d7;
}

article table td p {
    margin:0px !important;
    padding:0px;
}

div.solr_results .expandables-complex li.item{padding-bottom:12px !important;}

ul li.teaserBgLeft {
    background-image: url(../Images/pen.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: bottom left !important; 
}

ul li.teaserBgRight {
    background-image: url(../Images/grafi.png) !important;
    background-repeat: no-repeat !important;
    background-position: bottom left !important; 
}

h1#brand a {
    background-image: url(../Images/logo-beta.png);
    width:410px;
    height:100px;
    text-indent:-9999px;
    background-size:auto;
}
