@media screen and (max-width:1920px) {}

@media screen and (max-width:768px) {
    body {
        min-width:700px;
    }
    
    .inner {
        width:700px;
    }
    
    .primary li a {
        padding: 16px 20px;
    }
    
    .teasers {
        li.item {
            width:280px;
            height: 205px;

            ul {
                float:left;
                width:290px;
            }
        }
        
        ul.links-support {
            right:40px !important;
        }
    }
    
    
    .full-width .half, .fullWidth .half {
        width:340px;
    }
    
    div.help {
        width:280px;
    }

    article {
        &.content-container {
            width:390px;
        }
        
        .csc-textpic-imagewrap {
            margin-right:-3px !important;
        }
    }
    
    .footer {
        .wrap {
            width:635px;
        }

        .family {
            width:649px;
            float:left;

            li {
                margin-top:20px;
                padding-right:30px;
            }
        }

        .partners li {
            padding-right: 0px;
            width:140px;
        }
    }
    
    form.search {
        width:675px;
        background-position: -599px -934px;
        padding-left:15px;
        padding-right:15px;

        .text {
            width:345px;
            font-size:17px;
        }
    }

    ul {
        &.multicolumn {
            li {
                margin-bottom:20px;
            }
        }

        li {
            &.teaserBgRight, &.teaserBgLeft {
                background-image:none !important;
            }
        }
    }

    div.ac_results {
        ul {
            li {
                font-size:16px;
            }
        }
    }

    div.tx-a3-ekt {
        width:695px;
        
        div.articleWrap {
            width:365px;
        }

        .expandables li.item {
            width:340px;
        }

        article.content-container {
            width:370px;
        }
    }

}

@media screen and (max-width:480px) {
    body {
        min-width:475px;
    }

    h1 {
        &#brand {
            a {
                width:246px;
                height:60px;
                background-size: 246px 60px;
            }
            margin-bottom: 0px !important;
            width:315px;
        }
    }
    

    header {
        .inner {
            padding-bottom:170px;
        }
    }

    .inner {
        width:450px;
    }
    
    .primary li a {
        padding: 16px 20px;
        border-radius: 0px;
        width: 184px;
    }
    
    .teasers {
        li.item {
            width:390px;
            height: 160px;
            margin-left:0px;

            ul {
                float:right;
                width:180px;
            }
        }
        
        ul.links-support {
            right:40px !important;
        }
    }
    
    
    .full-width .half, .fullWidth .half {
        width:448px;
        margin-left:0px;
        margin-bottom:20px;
    }
    
    div.help {
        width:388px;
    }

    article {
        &.content-container {
            width:452px;
        }
        
        .csc-textpic-imagewrap {
            margin-right:-3px !important;
        }

        table {
            width: 100% !important;
        }
    }

    aside {
        width: 450px;
        float:left;
        padding-top:0px;
        div.help {
            width:388px;
            float:left;

            .phone {
                width:auto;
            }
        }

        form {
            label {
                float:none;
            }
        }
    }
    
    .footer {
        .wrap {
            width:380px;
        }

        .family {
            width:390px;
            float:left;

            li {
                margin-top:20px;
                padding-right:30px;
                //margin-left:125px;
            }
        }

        .partners li {
            padding-right: 0px;
            width:185px;
        }

        nav {
            width:390px;

            &.tertiary {
                width:454px;
            }

            li.section {
                width: 195px;
                margin-bottom: 20px;
                clear:both;

                ul {
                    width:230px;
                }
            }

        }
        
        .production {
            clear: both;
            float: left;
            margin-top: 5px;
        }
    }
    
    form {
    
        &.search {
            width:420px;
            background-position: -851px -1055px;
            padding-left:15px;
            padding-right:15px;

            .text {
                width:220px;
                font-size:14px;
            }

            label {
                font-size: 15px;
            }

            a.advanced {
                display:none;
            }
        }

        &.site-search {
            margin-top:0px;
            margin-bottom:20px;
        }

    }

    ul {
        &.multicolumn {
            li {
                margin-bottom:20px;
                padding-right: 2px;
            }
        }

        li {
            //&.teaserBgRight, &.teaserBgLeft {
              //  background-image:none !important;
            //}

            &.teaserBgLeft {
                background-image: url(../Images/pen.jpg) !important;
                background-repeat: no-repeat !important;
                background-position: bottom left !important; 
            }

            &.teaserBgRight {
                background-image: url(../Images/grafi.png) !important;
                background-repeat: no-repeat !important;
                background-position: bottom left !important; 
            }
        }
    }

    div.ac_results {
        ul {
            li {
                font-size:13px;
            }
        }
    }

    div.tx-a3-ekt {
        width:480px;
        
        div.articleWrap {
            width:450px;
        }

        .expandables li.item {
            width:425px;
        }

        article.content-container {
            width:450px;
        }
    }
}

@media screen and (max-width:320px) {}

@media screen and (max-width:240px) {}
