<!--<f:layout name="Default" />-->
<!doctype html>

<head>
    <title>Sample FluidPage Template</title>
</head>

<!-- ###LAYOUT### -->
<body class="">
    <header class="header vcard" role="banner">
        
        <f:render partial="Header" />
   
    </header>
    <div class="main" role="main">
        
        <div class="inner">    
            
            <f:CObject typoscriptObjectPath="lib.rootlineNav" />
            
			<!--TYPO3SEARCH_begin-->
            <article class="content-container">
                <div class="content">
                    {content -> f:format.raw()}
                
                </div>
            </article>
			<!--TYPO3SEARCH_end-->
			
            <aside>
                
                <f:CObject typoscriptObjectPath="lib.rightNavSub" />
                
                
                {aside-> f:format.raw()}
               
            </aside>
        </div>
    </div>
    
    <footer class="footer" role="contentinfo">
        <f:render partial="Footer" />
    </footer>
</body>
<!-- ###LAYOUT### --> 
</html>