<!--<f:layout name="Default" />-->
<!doctype html>

<head>
    <title>Sample FluidPage Template</title>
</head>

<!-- ###LAYOUT### -->
<body class="subpage not-found">
   <header class="header vcard" role="banner">
	<div class="inner">
		<h1 id="brand">
			<a class="url fn org" href="/">
				
			</a>
		</h1>
	</div>
</header>

<div class="main">
	{content -> f:format.raw()}
</div>
</body>
<!-- ###LAYOUT### --> 
</html>