<!--<f:layout name="Default" />-->
<!doctype html>

<head>
	<title>Sample FluidPage Template</title>
</head>

<!-- ###LAYOUT### -->
<body class="home-page full-width">
    <header class="header vcard" role="banner">
        <f:render partial="Header-home" />
    </header>
    <div class="main" role="main">
        <div class="inner">    
            <f:render partial="Home" arguments="{content: content, leftColumn: aside, rightColumn:aside2}" />
        </div>
	</div>
	<footer class="footer" role="contentinfo">
		<f:render partial="Footer" />
	</footer>
</body>
<!-- ###LAYOUT### --> 
</html>