<!doctype html>

<head>
	<title>Sample FluidPage Template</title>
</head>

<!-- ###LAYOUT### -->
<body class="full-width">
	<footer class="footer" role="contentinfo">
		<f:render partial="Footer" />
	</footer>
</body>
<!-- ###LAYOUT### --> 
</html>