<!doctype html>

<head>
	<title>Sample FluidPage Template</title>
</head>

<!-- ###LAYOUT### -->
<body class="full-width">
	<header class="header vcard" role="banner">
		<f:render partial="Header" />
    </header>
</body>
<!-- ###LAYOUT### --> 
</html>